{extend name='common/layout' /}

{block name='title'}站点管理{/block}

{block name='css'}
<!-- DataTables -->
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/static/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="/static/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
{/block}

{block name='search'}
<form action="{:url('site-index')}" method="get">
    <div class="form-row">
        <div class="col-md-2 mb-3">
            <select class="form-control select2" name="a_domain_id">
                <option value="">域名</option>
                {volist name='domains' id='domain'}
                <option {if $Request.param.a_domain_id== $domain.id}selected{/if}
                value="{$domain.id}">{$domain.domain}</option>
                {/volist}
            </select>
        </div>
        <div class="col-md-1 mb-3">
            <select class="form-control select2" name="status">
                <option value="">状态</option>
                {foreach $siteStatus as $key => $val}
                <option {if $Request.param.status == $key}selected{/if}
                value="{$key}">{$val}</option>
                {/foreach}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <input type="text" class="form-control" name="site_name" placeholder="站点名称" value="{$Request.param.site_name}">
        </div>
        <div class="col-md-1 mb-3">
            <button class="btn btn-primary" type="submit">搜索</button>
        </div>
        <div class="col-md-1 mb-3">
            <button class="btn btn-success" data-toggle="modal" data-target="#add-site" type="button">新增</button>
        </div>
    </div>
</form>
{/block}

{block name='thead'}
<tr class="text-center">
    <th>编号</th>
    <th>站点区域</th>
    <th>站点名称</th>
    <th>站点标识</th>
    <th>站点端口</th>
    <th>A记录域名</th>
    <th>后台域名</th>
    <th>站点状态</th>
    <th>创建时间</th>
    <th>操作</th>
</tr>
{/block}

{block name='tbody'}
{volist name='list' id='site'}
<tr class="text-center">
    <td>{$site.id}</td>
    <td>{$areas[$site.area]}</td>
    <td>{$site.site_name}</td>
    <td>{$site.flag}</td>
    <td>{$site.port}</td>
    <td>{$site.aDomain}</td>
    <td><a href="{$site.backend_domain_url}" target="_blank">{$site.backend_domain}</a></td>
    <td class="{if $site.status === 1}text-blue{elseif $site.status === 2}text-info{elseif $site.status === 3}text-success{else/}text-danger{/if}">
        {$siteStatus[$site.status]}
    </td>
    <td>{$site.create_time}</td>
    <td class="text-center">
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#show-site" onclick="showUrl({$site})" type="button">查看域名</button>
        <a class="btn btn-info btn-sm" href="{:url('site-change-domain', ['id' => $site.id])}">修改域名</a>
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#add-site" onclick="showUpdate({$site})" type="button">编辑</button>
        <a class="btn btn-danger btn-sm" href="{:url('site-rsync', ['id' => $site.id])}">同步</a>
        <a class="btn btn-danger btn-sm" href="{:url('site-delete', ['id' => $site.id])}">删除</a>
    </td>
</tr>
{/volist}
{/block}

{block name='page'}
<div class="row mt-4">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
            每页展示20条数据，共{$list->total()}条数据
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers">
            {$list|raw}
        </div>
    </div>
</div>
{/block}

{block name='dialog'}
<!-- Add Details Modal -->
<div class="modal fade" id="add-site" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加/编辑-站点</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{:url('site-create')}" method="POST" id="add-data-form" role="form">
                    {:token_field()}
                    <input type="hidden" value="0" name="id" />
                    <div class="row form-row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>A记录域名</label>
                                <select class="form-control select2" name="a_domain_id">
                                    <option value="0">请选择域名</option>
                                    {volist name='domains' id='domain'}
                                    {if $domain.site_id == 0}
                                    <option {if $Request.param.domain_id == $domain.id}selected{/if}
                                    value="{$domain.id}">{$domain.domain} ({$domain.remark})</option>
                                    {/if}
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>站点状态</label>
                                <select class="form-control select2" name="status">
                                    <option value="0">请选择状态</option>
                                    {foreach $siteStatus as $key => $val}
                                    <option {if $Request.param.status == $key}selected{/if}
                                    value="{$key}">{$val}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>站点地区</label>
                                <select class="form-control select2" name="area">
                                    <option value="0">请选择地区</option>
                                    {foreach $areas as $key => $val}
                                    <option {if $Request.param.area == $key}selected{/if}
                                    value="{$key}">{$val}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>站点名称</label>
                                <div>
                                    <input type="text" name="site_name" placeholder="请输入站点名称" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>站点标识</label>
                                <div>
                                    <input type="text" name="flag" placeholder="只能添加时填写,不能中文和特殊符号" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>站点端口</label>
                                <div>
                                    <input type="number" name="port" placeholder="不可重复" value="{$port}" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>后台域名</label>
                                <div>
                                    <input type="text" name="backend_domain" placeholder="新增时可不填" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>项目本地路径</label>
                                <div>
                                    <input type="text" name="base_path" placeholder="请输入内网服务器项目路径" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>项目远程路径</label>
                                <div>
                                    <input type="text" name="origin_path" placeholder="请输入线上服务器项目路径" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>备注</label>
                                <div>
                                    <textarea name="remark" autocomplete="off" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="submit" class="btn btn-primary">确认</button>
                        <button type="reset" class="btn btn-danger">重置</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /Add Details Modal -->
<!-- Show Details Modal -->
<div class="modal fade" id="show-site" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="site-name"></span>--站点域名</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="form-group">
                        <label>管理后台</label>
                        <div>
                            <a href="" id="backend-url" target="_blank"></a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>用户前台</label>
                        <div id="frontend-url"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name='script'}
<!-- DataTables -->
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- jquery-validation -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/additional-methods.min.js"></script>
<!-- Select2 -->
<script src="/static/plugins/select2/js/select2.full.min.js"></script>
<!-- SweetAlert2 -->
<script src="/static/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- validate rule -->
<script src="/static/js/validate.js"></script>
<script>
    function showUrl(data) {
        var frontUrlHtml = ''
        data.webDomainsShow.forEach(function (item) {
            frontUrlHtml += `<p><a href="${item}" target="_blank">${item}</a></p>`
        })
        $('#site-name').text(data.site_name)
        $('#backend-url').attr('href', 'https://' + data.backend_domain)
        $('#backend-url').text('https://' + data.backend_domain)
        $('#frontend-url').html(frontUrlHtml)
    }
    function showUpdate(data) {
        $('#add-data-form').attr('action', '{:url("site-update")}')
        $('#add-data-form input[name=id]').val(data.id)
        $('#add-data-form input[name=site_name]').val(data.site_name)
        $('#add-data-form input[name=flag]').val(data.flag)
        $('#add-data-form input[name=port]').val(data.port)
        $('#add-data-form input[name=flag]').attr('disabled', true)
        $('#add-data-form input[name=port]').attr('disabled', true)
        $('#add-data-form input[name=backend_domain]').val(data.backend_domain)
        $('#add-data-form input[name=base_path]').val(data.base_path)
        $('#add-data-form input[name=origin_path]').val(data.origin_path)
        $('#add-data-form textarea[name=remark]').val(data.remark)
        $('#add-data-form select[name=a_domain_id] option[value=' + data.a_domain_id +']').attr('selected', true)
        $('#add-data-form select[name=status] option[value=' + data.status +']').attr('selected', true)
        $('#add-data-form select[name=area] option[value=' + data.area +']').attr('selected', true)
        $('#add-data-form select').select2()
    }
</script>
{/block}