{extend name='common/layout' /}

{block name='title'}DNS解析记录{/block}

{block name='css'}
<!-- DataTables -->
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/static/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="/static/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
{/block}

{block name='search'}
<form action="{:url('record-index')}" method="get">
    <div class="form-row">
        <div class="col-md-2 mb-3">
            <select class="form-control select2" name="site_id">
                <option value="">站点</option>
                {volist name='sites' id='site'}
                <option {if $Request.param.site_id== $site.id}selected{/if}
                value="{$site.id}">{$site.site_name}($siteStatus[$site.status])</option>
                {/volist}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <select class="form-control select2" name="domain_id">
                <option value="">域名</option>
                {volist name='domains' id='domain'}
                <option {if $Request.param.domain_id== $domain.id}selected{/if}
                value="{$domain.id}">{$domain.domain}</option>
                {/volist}
            </select>
        </div>
        <div class="col-md-1 mb-3">
            <button class="btn btn-primary" type="submit">搜索</button>
        </div>
        <div class="col-md-1 mb-3">
            <button class="btn btn-success" data-toggle="modal" data-target="#add-record" type="button">新增</button>
        </div>
    </div>
</form>
{/block}

{block name='thead'}
<tr class="text-center">
    <th>编号</th>
    <th>站点名称</th>
    <th>域名</th>
    <th>类型</th>
    <th>记录名称</th>
    <th>记录内容</th>
    <th>备注</th>
    <th>创建时间</th>
    <th>操作</th>
</tr>
{/block}

{block name='tbody'}
{volist name='list' id='record'}
<tr class="text-center">
    <td>{$record.id}</td>
    <td>{$record.site_name}</td>
    <td>{$record.domain}</td>
    <td>{$record.type}</td>
    <td><a href="{$record.nameUrl}" target="_blank">{$record.name}</a></td>
    <td>{$record.content}</td>
    <td>{$record.comment}</td>
    <td>{$record.create_time}</td>
    <td class="text-center">
        <a class="btn btn-danger btn-sm" href="{:url('record-delete', ['id' => $record.id])}">删除</a>
    </td>
</tr>
{/volist}
{/block}

{block name='page'}
<div class="row mt-4">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
            每页展示20条数据，共{$list->total()}条数据
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers">
            {$list|raw}
        </div>
    </div>
</div>
{/block}

{block name='dialog'}
<!-- Add Details Modal -->
<div class="modal fade" id="add-record" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加DNS记录</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{:url('record-create')}" method="POST" id="add-data-form" role="form">
                    {:token_field()}
                    <div class="row form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>站点</label>
                                <select class="form-control select2" name="site_id">
                                    <option value="0">请选择站点</option>
                                    {volist name='sites' id='site'}
                                    <option {if $Request.param.site_id== $site.id}selected{/if}
                                    value="{$site.id}">{$site.site_name}($siteStatus[$site.status])</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>域名</label>
                                <select class="form-control select2" name="domain_id">
                                    <option value="0">请选择域名</option>
                                    {volist name='domains' id='domain'}
                                    <option {if $Request.param.domain_id== $domain.id}selected{/if}
                                    value="{$domain.id}">{$domain.domain}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>记录类型</label>
                                <select class="form-control select2" name="type">
                                    <option value="A">A记录</option>
                                    <option value="CNAME">CNAME</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>记录名称</label>
                                <div>
                                    <input type="text" name="name" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>记录内容</label>
                                <div>
                                    <input type="text" name="content" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>备注</label>
                                <div>
                                    <input type="text" name="comment" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="submit" class="btn btn-primary">确认</button>
                        <button type="reset" class="btn btn-danger">重置</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /Add Details Modal -->
{/block}

{block name='script'}
<!-- DataTables -->
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- jquery-validation -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/additional-methods.min.js"></script>
<!-- Select2 -->
<script src="/static/plugins/select2/js/select2.full.min.js"></script>
<!-- SweetAlert2 -->
<script src="/static/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- validate rule -->
<script src="/static/js/validate.js"></script>
<script>
    $(function () {
        // validate start
        // validateOption.rules = addrecordFormRule;
        // validateOption.messages = addrecordFormMsg;
        // $('#add-data-form').validate(validateOption);
        // validate end
    });
</script>
{/block}