{extend name='common/layout' /}

{block name='title'}域名列表{/block}

{block name='css'}
<!-- DataTables -->
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/static/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="/static/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
{/block}

{block name='search'}
<form action="{:url('domain-index')}" method="get">
    <div class="form-row">
        <div class="col-md-2 mb-3">
            <input type="text" class="form-control" name="domain" placeholder="域名" value="{$Request.param.domain}">
        </div>
        <div class="col-md-2 mb-3">
            <select class="form-control select2" name="site_id">
                <option value="">站点</option>
                {volist name='sites' id='site'}
                <option {if $Request.param.site_id== $site.id}selected{/if}
                value="{$site.id}">{$site.site_name}</option>
                {/volist}
            </select>
        </div>
        <div class="col-md-1 mb-3">
            <button class="btn btn-primary" type="submit">搜索</button>
        </div>
        <div class="col-md-1 mb-3">
            <button class="btn btn-success" data-toggle="modal" data-target="#add-domain" type="button">新增</button>
        </div>
    </div>
</form>
{/block}

{block name='thead'}
<tr class="text-center">
    <th>编号</th>
    <th>站点名称</th>
    <th>域名</th>
    <th>备注</th>
    <th>创建时间</th>
    <th>操作</th>
</tr>
{/block}

{block name='tbody'}
{volist name='list' id='domain'}
<tr class="text-center">
    <td>{$domain.id}</td>
    <td>{$domain.site_name}({$domain.site_status})</td>
    <td><a href="{$domain.domainUrl}" target="_blank">{$domain.domain}</a></td>
    <td>{$domain.remark}</td>
    <td>{$domain.create_time}</td>
    <td class="text-center">
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#add-domain" onclick="showUpdate({$domain})" type="button">编辑</button>
        <a class="btn btn-danger btn-sm" href="{:url('domain-delete', ['id' => $domain.id])}">删除</a>
    </td>
</tr>
{/volist}
{/block}

{block name='page'}
<div class="row mt-4">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
            每页展示20条数据，共{$list->total()}条数据
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers">
            {$list|raw}
        </div>
    </div>
</div>
{/block}

{block name='dialog'}
<!-- Add Details Modal -->
<div class="modal fade" id="add-domain" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加/编辑-域名</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{:url('domain-create')}" method="POST" id="add-domain-form" role="form">
                    {:token_field()}
                    <input type="hidden" value="0" name="id" />
                    <div class="row form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>域名</label>
                                <div>
                                    <input type="text" name="domain" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>站点</label>
                                <select class="form-control select2" name="site_id">
                                    <option value="0">请选择站点</option>
                                    {volist name='sites' id='site'}
                                    <option {if $Request.param.site_id== $site.id}selected{/if}
                                    value="{$site.id}">{$site.site_name}({$siteStatus[$site.status]})</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>备注</label>
                                <div>
                                    <textarea name="remark" autocomplete="off" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="submit" class="btn btn-primary">确认</button>
                        <button type="reset" class="btn btn-danger">重置</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /Add Details Modal -->
{/block}

{block name='script'}
<!-- DataTables -->
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- jquery-validation -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/additional-methods.min.js"></script>
<!-- Select2 -->
<script src="/static/plugins/select2/js/select2.full.min.js"></script>
<!-- SweetAlert2 -->
<script src="/static/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- validate rule -->
<script src="/static/js/validate.js"></script>
<script>
    function showUpdate(data) {
        $('#add-domain-form').attr('action', '{:url("domain-update")}')
        $('#add-domain-form input[name=id]').val(data.id)
        $('#add-domain-form input[name=domain]').val(data.domain)
        $('#add-domain-form textarea[name=remark]').val(data.remark)
        $('#add-domain-form select[name=site_id] option[value=' + data.site_id +']').attr('selected', true)
        $('#add-domain-form select').select2()
    }
</script>
{/block}