{extend name='common/layout' /}

{block name='title'}服务器列表{/block}

{block name='css'}
<!-- DataTables -->
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/static/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="/static/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="/static/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
{/block}

{block name='search'}
<form action="{:url('server-index')}" method="get">
    <div class="form-row">
        <div class="col-md-2 mb-3">
            <input type="text" class="form-control" name="public_ip" placeholder="外网IP" value="{$Request.param.public_ip}">
        </div>
        <div class="col-md-1 mb-3">
            <select class="form-control select2" name="type">
                <option value="">类型</option>
                {foreach $type as $key => $val}
                <option {if $Request.param.type == $key}selected{/if}
                value="{$key}">{$val}</option>
                {/foreach}
            </select>
        </div>
        <div class="col-md-1 mb-3">
            <button class="btn btn-primary" type="submit">搜索</button>
        </div>
        <div class="col-md-1 mb-3">
            <button class="btn btn-success" data-toggle="modal" data-target="#add-agent" type="button">新增</button>
        </div>
    </div>
</form>
{/block}

{block name='thead'}
<tr class="text-center">
    <th>编号</th>
    <th>服务器名</th>
    <th>外网IP</th>
    <th>内网IP</th>
    <th>备注</th>
    <th>类型</th>
    <th>创建时间</th>
    <th>操作</th>
</tr>
{/block}

{block name='tbody'}
{volist name='list' id='server'}
<tr class="text-center">
    <td>{$server.id}</td>
    <td>{$server.server_name}</td>
    <td>{$server.public_ip}</td>
    <td>{$server.private_ip}</td>
    <td>{$server.remark}</td>
    <td class="{if $server.type === 1}text-success{else /}text-danger{/if}">
        {$type[$server.type]}
    </td>
    <td>{$server.create_time}</td>
    <td class="text-center">
        <a class="btn btn-info btn-sm" href="{:url('server-update', ['id' => $server.id])}">编辑</a>
        <a class="btn btn-success btn-sm" href="{:url('server-delete', ['id' => $server.id])}">删除</a>
    </td>
</tr>
{/volist}
{/block}

{block name='page'}
<div class="row mt-4">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
            每页展示20条数据，共{$list->total()}条数据
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers">
            {$list|raw}
        </div>
    </div>
</div>
{/block}

{block name='dialog'}
<!-- Add Details Modal -->
<div class="modal fade" id="add-agent" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加服务器</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{:url('server-create')}" method="POST" id="add-data-form" role="form">
                    {:token_field()}
                    <div class="row form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>服务器名称</label>
                                <div>
                                    <input type="text" name="server_name" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- radio -->
                            <div class="form-group clearfix">
                                <label>类型</label>
                                <div>
                                    <div class="icheck-success d-inline">
                                        <input type="radio" id="radioPrimary1" value="2" name="type" checked>
                                        <label for="radioPrimary1">节点服务器</label>
                                    </div>
                                    <div class="icheck-danger d-inline">
                                        <input type="radio" id="radioPrimary2" value="1" name="type">
                                        <label for="radioPrimary2">后端服务器</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>外网ip</label>
                                <div>
                                    <input type="text" name="public_ip" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>内网ip</label>
                                <div>
                                    <input type="text" name="private_ip" autocomplete="off" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>备注</label>
                                <div>
                                    <textarea name="remark" autocomplete="off" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="submit" class="btn btn-primary">确认</button>
                        <button type="reset" class="btn btn-danger">重置</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /Add Details Modal -->
{/block}

{block name='script'}
<!-- DataTables -->
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- jquery-validation -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/additional-methods.min.js"></script>
<!-- Select2 -->
<script src="/static/plugins/select2/js/select2.full.min.js"></script>
<!-- SweetAlert2 -->
<script src="/static/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- validate rule -->
<script src="/static/js/validate.js"></script>
<script>
    $(function () {
        // validate start
        // validateOption.rules = addAgentFormRule;
        // validateOption.messages = addAgentFormMsg;
        // $('#add-data-form').validate(validateOption);
        // validate end
    });
</script>
{/block}